body{
    margin: 0;
    background-color: rgb(243, 241, 241);
    scroll-behavior: smooth;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before{
    box-sizing: inherit;
}


li{
    list-style: none;
}



